
<div class="global_navbar">
  <h1>Let's enjoy Life!!!</h1>
</div>


<div class="container">
<h1>Create a new Cocktail</h1>

<%= simple_form_for(@cocktail) do |f| %>
    <%=f.input :name  %>
    <%=f.submit  %>
<% end %>

</div>
