.home_banner {
  background-image: url('https://images.unsplash.com/photo-1566417713940-fe7c737a9ef2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1915&q=80');
  background-size: cover;
  height: 70vh;
  width:100vw;
  color: #eee;
  text-align: center;
  padding-top: 15vh;
}
